
body{
    background-color: rgb(255, 255, 240);
    font-family: minerva;

}

.outerHeader{
    z-index: 2;
}

@font-face {
    font-family: minerva;
    src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

/*! --------- Stripes --------- */
.blue-stripe {
    /* border: 2px solid red; */
    background-color: #003594;
    /* background-color: #FFB81C; */
    /* margin-left: 6rem; */
    width: 100vw;
    height: 7.5vh;
    
}

.pittLogo-container{
    height: 130% !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitt-logo{
    padding-left: 15%;
}

.yellow-stripe{
    /* border: 2px solid blue; */
    /* background-color: #003594; */
    background-color: #FFB81C;
    width: 100vw;
    height: 7.5vh;
    display: flex;
    align-content: center;
}

.extra-stripe{
    /* border-bottom: 2px ridge #eee; */
    background-color: #FFF5E1; 
    height: 6vh;
    width: 100vw;
}

.site-title{
    font-size: 2.5rem;
    color: #003594;
}

.page-foot{
    background-color: #003594;
    height: 15vh;

}

/*! --------- Page Content --------- */
.content-container{
    height: 74vh;
}

.outer-row{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgb(20, 27, 77);
    
}


/*! Main Page Content */
.content-container{
    height: 90vh;
}

.hist-desc{
    background-color: white;
    color:  #00205B;
    overflow-y: auto;
    height: 85%;
}

.hist-text{
font-size: 1.3em;

}













