
body{
    background-color: rgb(255, 255, 240);
    font-family: minerva;

}

.outerHeader{
    z-index: 2;
}

@font-face {
    font-family: minerva;
    src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

/*! --------- Stripes --------- */
.blue-stripe {
    /* border: 2px solid red; */
    background-color: #003594;
    /* background-color: #FFB81C; */
    /* margin-left: 6rem; */
    width: 100vw;
    height: 7.5vh;
    
}

.pittLogo-container{
    height: 130% !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitt-logo{
    padding-left: 15%;
}

.yellow-stripe{
    /* border: 2px solid blue; */
    /* background-color: #003594; */
    background-color: #FFB81C;
    width: 100vw;
    height: 7.5vh;
    display: flex;
    align-content: center;
}

.extra-stripe{
    /* border-bottom: 2px ridge #eee; */
    background-color: #FFF5E1; 
    height: 6vh;
    width: 100vw;
}

.site-title{
    font-size: 2.5rem;
    color: #003594;
}

.page-foot{
    background-color: #003594;
    height: 15vh;

}

@media (max-width: 768px) { 
    /* Styling the mobile dropdown */
    .navbar-collapse {
      background-color: #FFB81C; 
      padding: 10px;
      border-radius: 8px; 
    }
  
    .dropdown-menu {
      background-color: #FFB81C; 
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);     
    }
  
    .dropdown-menu .dropdown-item {
      font-size: 18px;
      padding: 10px 15px;
    }
  

    .navbar-nav{
        text-align: center;
    }

  }
/*! --------- Page Content --------- */
.content-container{
    height: 74vh;
}

.outer-row{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
}


/*! Main Page Content */
.content-container{
    height: 74vh;
}

.inner-stack-container{ 
    /* border: 2px solid red; */
    height: 100%;

}

.top-stack{
    border: 2px solid red;
    height: 72% !important;
    width: 100%;
    position: relative;
}

.carousel-inner, .carousel-item {
    height: 100%;
    width: 100%;
}


.bottom-stack{
    border: 2px solid rgb(18, 122, 56);
    width: 100%;
    height: 28%;
    background-color: white;
} 

.side-stack-container{
    border: 2px solid purple;

}

.news-header{
    border: 2px solid rgb(18, 122, 56);
    background-color: #003594;
    color: #FFB81C;
    height: 8%;
    z-index: 1;
}

.news-list{
    list-style: none;
    overflow: auto;
    height: 100%;
    width: 100%;
}

li{
    cursor: pointer;
}

.news-item{
    background-color: white;
    height: 12%;
    box-shadow: 0px -1px 0px #eee, inset 1px 0px 0px #eee;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


li:hover{
    background-color: #99caea;
}

.listDate-item{
    font-weight: 600;
    color: #B87333;
}

.listNews-item{
    font-weight: 500;
    color: black;
}

.desc-date{
    font-weight: 600;
    color: #B87333;
}

.desc-content{
    font-weight: 500;
    color: black;
}













